<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML 5 Boilerplate</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='docker_UI.css') }}">
</head>
<body>
 
  <div class="container">
    <div class="prompt"> 
      <form action="{{ url_for('create_dockerfile') }}" method="post" id="create_form">
        <label for="dockerfile_prompt">Enter description for dockerfile: </label>
      <input type="text" id="dockerfile_prompt" name="dockerfile_prompt">
      <button type="submit" id ="for_form">Add container</button>
      </form>
    </div>
  <table border="1">
    <tr>
      {% for head in headings: %}
        <th>{{ head }}</th>
      {% endfor %}
    </tr>

    {% for row in data: %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>          
              <button type="button" class="action-button" id="{{ row[0] }}-stop" name="Run/Stop">Stop</button>                     
        </td>
        <td>
          <button type="button" class="action-button" id="{{ row[0] }}-delete" name="delete">Delete</button>
        </td>
      </tr>
    {% endfor %}
  </table>  
</div>

  <script>
  
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
}


    document.addEventListener('DOMContentLoaded', function() {
      var buttons = document.querySelectorAll('.action-button');
      buttons.forEach(function(button) {
        button.addEventListener('click', function() {
          // var buttonId = this;
          sendIdToFlask(this);          
        });
      });

      function sendIdToFlask(buttonId) {   
        og = buttonId             
        buttonId = buttonId.id
        var id = buttonId.split("-")[0];
        var fn = og.textContent.toLowerCase()

        console.log(`/${fn}_container`)
        fetch(`/${fn}_container`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ id: id })
        })
        .then(function(response) {
          if (response.ok) {
            console.log('ID sent successfully:', id);
            // Handle success response if needed
          } else {
            console.error('Error sending ID:', response.statusText);
            // Handle error response if needed
          }
        })
        .catch(function(error) {
          console.error('Fetch error:', error);
          // Handle fetch error if needed
        });
        new_val = 'Delete'
        if(og.textContent == 'Stop')
          {
            new_val = 'Run'
            document.getElementById(og.id).id = `${og.id}-Run`
          }
        else if(og.textContent == 'Run')
          {
            new_val = 'Stop'
            document.getElementById(og.id).id = `${og.id}-Stop`
          }
        document.getElementById(og.id).textContent = new_val
      }
    });
  </script>
</body>
</html>
